<?php

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
//        '@Symfony' => true,
        'yoda_style' => ['equal' => false],
        'declare_strict_types' => true,
        'phpdoc_to_comment' => false,
        'phpdoc_align' => [
            'align' => 'left'
        ],
//        'cast_spaces' => 'none',
    ])
    ->setFinder(PhpCsFixer\Finder::create()
        ->exclude(['vendor', 'Repository'])
        ->in('src')
    )
;

/*
This document has been generated with
https://mlocati.github.io/php-cs-fixer-configurator/
you can change this configuration by importing this YAML code:

fixerSets:
  - '@Symfony'
fixers:
  yoda_style:
    equal: false

*/
